In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import pairwise_distances_chunked

In [27]:
df = pd.read_csv('../data/tcc_ceds_music.csv')
numbers_df = df.drop(['Unnamed: 0', 'topic', 'lyrics', 'genre', 'track_name', 'artist_name'], axis=1)
numbers_df

,release_date,len,dating,violence,world/life,night/time,shake the audience,family/gospel,romantic,communication,...,like/girls,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,age
0,1950,95,0.000598,0.063746,0.000598,0.000598,0.000598,0.048857,0.017104,0.263751,...,0.000598,0.380299,0.117175,0.357739,0.454119,0.997992,0.901822,0.339448,0.137110,1.000000
1,1950,51,0.035537,0.096777,0.443435,0.001284,0.001284,0.027007,0.001284,0.001284,...,0.001284,0.001284,0.001284,0.331745,0.647540,0.954819,0.000002,0.325021,0.263240,1.000000
2,1950,24,0.002770,0.002770,0.002770,0.002770,0.002770,0.002770,0.158564,0.250668,...,0.002770,0.002770,0.225422,0.456298,0.585288,0.840361,0.000000,0.351814,0.139112,1.000000
3,1950,54,0.048249,0.001548,0.001548,0.001548,0.021500,0.001548,0.411536,0.001548,...,0.081132,0.225889,0.001548,0.686992,0.744404,0.083935,0.199393,0.775350,0.743736,1.000000
4,1950,48,0.001350,0.001350,0.417772,0.001350,0.001350,0.001350,0.463430,0.001350,...,0.001350,0.068800,0.001350,0.291671,0.646489,0.975904,0.000246,0.597073,0.394375,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28367,2019,78,0.001350,0.001350,0.001350,0.001350,0.001350,0.001350,0.001350,0.001350,...,0.001350,0.065664,0.001350,0.889527,0.759711,0.062549,0.000000,0.751649,0.695686,0.014286
28368,2019,67,0.001284,0.001284,0.035338,0.001284,0.001284,0.001284,0.066324,0.203889,...,0.040811,0.001284,0.001284,0.662082,0.789580,0.004607,0.000002,0.922712,0.797791,0.014286
28369,2019,77,0.001504,0.154302,0.168988,0.001504,0.039755,0.001504,0.035401,0.001504,...,0.001504,0.001504,0.001504,0.663165,0.726970,0.104417,0.000001,0.838211,0.767761,0.014286
28370,2019,67,0.001196,0.001196,0.001196,0.001196,0.048359,0.001196,0.001196,0.001196,...,0.070867,0.001196,0.001196,0.883028,0.786888,0.007027,0.000503,0.508450,0.885882,0.014286
28371,2019,83,0.001012,0.075202,0.001012,0.001012,0.001012,0.001012,0.001012,0.001012,...,0.001012,0.001012,0.033995,0.828875,0.674794,0.015862,0.000000,0.475474,0.492477,0.014286

In [18]:
features = df[['artist_name', 'track_name', 'release_date', 'genre']]
features['index'] = features.index.values
features['artist_name'].value_counts()

/var/folders/zv/0_8wy8wd1nd_5_jdg3tl_b140000gn/T/ipykernel_88464/2434776203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['index'] = features.index.values

johnny cash           190
ella fitzgerald       188
dean martin           146
willie nelson         131
george jones          107
                     ...
keith jarrett trio      1
stigmato inc            1
plej                    1
slow train soul         1
$uicideboy$             1
Name: artist_name, Length: 5426, dtype: int64

In [14]:
features.to_csv('../data/song_features.csv', index=False)

In [21]:
s = pd.Series([1, 2, 2, 43, 4, 5 ,6])
s[s < 3]

0    1
1    2
2    2
dtype: int64

In [29]:
def get_scores(row, row_date, dates, n=10) -> list[dict]:
    row = row[dates < row_date]
    return [
        {'x_index': row.name,
         'y_index': i,
         'score': score}
            for i, score in row.sort_values().head(n).items()]


def past_df(df, date)


def distances(numbers_df: pd.DataFrame, date_col: str, top_n=10, n_jobs=-1) -> pd.DataFrame:
    scores = []
    generator = pairwise_distances_chunked(numbers_df.drop(date_col, axis=1), n_jobs=-1)
    index = 0

    for chunk in generator:
        count = len(chunk)
        indexes = range(index, count + index)
        index = count + index
        results = pd.DataFrame(chunk, index=indexes)
        for i, row in results.iterrows():
            scores.extend(get_scores(row, numbers_df[date_col][i], numbers_df[date_col]))

        print(len(scores), 'done')
    return pd.DataFrame(scores)
    
results = distances(numbers_df, 'release_date')
results

47200 done
94390 done
141620 done
188690 done
235990 done
283210 done

        x_index  y_index      score
0            10    17093   6.141335
1            10    17101   9.004950
2            10        5  15.026707
3            10        0  18.048463
4            10    17112  23.014760
...         ...      ...        ...
283205    28371    12191   0.523668
283206    28371    22933   0.538553
283207    28371    27822   0.539979
283208    28371    27909   0.545113
283209    28371    22916   0.557850

[283210 rows x 3 columns]

In [6]:
results.to_csv('../data/distances_top_ten.csv', index=False)

In [7]:
pd.read_csv('../data/distances_top_ten.csv')

        x_index  y_index     score
0             0    19210  0.889176
1             0      933  0.903650
2             0    21029  0.997782
3             0    19721  1.010673
4             0    13108  1.029608
...         ...      ...       ...
283715    28371    12191  0.523668
283716    28371    22933  0.538553
283717    28371    27822  0.539979
283718    28371    27909  0.545113
283719    28371    28265  0.550418

[283720 rows x 3 columns]

In [16]:
results[results['x_index'] == 24126]

        x_index  y_index     score
241260    24126    11207  0.599859
241261    24126    10382  0.624753
241262    24126    25984  0.652365
241263    24126    12981  0.680274
241264    24126     9321  0.701073
241265    24126     1578  0.729161
241266    24126    12719  0.734903
241267    24126      690  0.760156
241268    24126    10824  0.789590
241269    24126     9938  0.799326